@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap");
.productos, .nuestrosCortes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.productos h1, .nuestrosCortes h1 {
  width: 100%;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px rgb(218, 165, 32);
}

.fotoTarjeta {
  height: 200px;
  padding: 15px;
  margin: auto;
  background-color: rgba(29, 28, 28, 0);
}
.fotoTarjeta:hover {
  transform: scale(1.15);
}

@keyframes efecto_poste {
  50% {
    height: 102%;
  }
}
/* font-family: "Oswald", sans-serif; */
@font-face {
  font-family: thestudents;
  src: url(../assets/fonts/TheStudentsTeacher-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
}

.active {
  color: rgba(218, 165, 32, 0.726) !important;
}
.active:hover {
  color: rgb(218, 165, 32) !important;
}

header {
  font-size: 25px;
}
header .logo {
  width: 250px;
  height: auto;
}

footer {
  display: flex;
  padding: 10px;
}
footer div {
  width: 33%;
}
footer div a i {
  font-size: 40px;
}
footer div a i:hover {
  color: rgb(218, 165, 32);
  transform: scale(1.3);
  transition: all 0.2s;
}
footer .ubicacion {
  text-align: right;
}
footer .whatsapp {
  text-align: center;
}
footer .instagram {
  text-align: left;
}

.home {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 100px 1fr;
}
.home .posteBarbero {
  height: 300px;
  width: auto;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.home .eslogan {
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px rgb(218, 165, 32);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home .reservar {
  border: 2px solid rgb(218, 165, 32);
  width: 80%;
  margin: 10px;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  justify-items: center;
}
.home .reservar h2 {
  text-align: center;
  font-size: 30px;
}
.home .reservar input {
  width: 80%;
  margin-top: 15px;
  border: 1px solid rgb(218, 165, 32);
}
.home .reservar select {
  width: 80%;
  border: 1px solid rgb(218, 165, 32);
}
.home .reservar button {
  width: 80%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px;
  border: 1px solid rgb(218, 165, 32);
}
.home .reservar button:hover {
  background-image: radial-gradient(#444001, rgb(218, 165, 32));
}

.sobreNosotros {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 60px 280px 240px 60px 280px 270px;
}
.sobreNosotros h1 {
  text-shadow: 1px 1px rgb(218, 165, 32);
  text-align: center;
  font-size: 50px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.sobreNosotros h2 {
  text-align: center;
  font-size: 35px;
}
.sobreNosotros img {
  height: 280px;
  width: auto;
}
.sobreNosotros p {
  font-size: 25px;
  text-align: justify;
  padding: 5px;
  margin: 5px;
  font-family: thestudents, sans-serif;
}
.sobreNosotros .subtBarberia {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.sobreNosotros .fotoBarberia {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.sobreNosotros .descripcionBarberia {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.sobreNosotros .subtBarberos {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.sobreNosotros .fotoBarberos {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}
.sobreNosotros .descripcionBarberos {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

.nuestrosCortes .tarjetaCorte {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 200px 80px;
  border: 2px solid rgb(218, 165, 32);
  background-color: rgb(29, 28, 28);
  margin: 20px;
}
.nuestrosCortes .tarjetaCorte h2 {
  font-size: 30px;
  text-align: center;
  background-color: rgb(29, 28, 28);
}

.productos .tarjetaProducto {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 200px 80px 80px;
  border: 2px solid rgb(218, 165, 32);
  background-color: rgb(29, 28, 28);
  margin: 20px;
}
.productos .tarjetaProducto .fotoProducto {
  height: 200px;
  padding: 15px;
  margin: auto;
  background-color: rgba(29, 28, 28, 0);
}
.productos .tarjetaProducto .fotoProducto:hover {
  transform: scale(1.15);
}

/*# sourceMappingURL=style.css.map */
