@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald", sans-serif; */
@font-face {
    font-family: thestudents;
    src: url(../assets/fonts/TheStudentsTeacher-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: map-get($colores , color-fondo );
    color: map-get($colores , color-texto );
    font-family: "Oswald", sans-serif;
}
.active{
    color: rgba(218, 165, 32, 0.726) !important;
    &:hover{
        color: map-get($colores , color-secundario ) !important;
    }
}
header{
    font-size: 25px;
    .logo{
        width: 250px;
        height: auto;
    }
}
footer{
    display: flex;
    padding: 10px;
    div{
        width: 33%;
        a{
            i{
                font-size: 40px;
                &:hover{
                    color: map-get($colores , color-secundario );
                    transform: scale(1.3);
                    transition: all .2s;
                }
            }
        }
    }
    .ubicacion{
        text-align: right;
    }
    .whatsapp{
        text-align: center;
    }
    .instagram{
        text-align: left;
    }
}