@media only screen and (min-height: 800px){
    .ubicacion{
        h1{
            font-size: 60px;
        }
        p{
            font-size: 40px;
        }
        .mapa{
            height: 400px;
        }
    }
}